body {
    background: black;
    font-family: verdana;
    max-width: 900px;   /* determina a largura da página e delimita a largura máxima */
    margin: auto;   /* comando para deixar a margem adequável ao tamanho da tela */
}

.post {
    background: black;
    padding: 15px;
    border: 1px dotted white;
    margin-bottom: 15px;
    border-radius: 15px;
}

#title  {
    color: silver;
    font-size: 40px;
    text-transform: uppercase;  /* transforma todas as letras do título em maiúsculas */;
}

.subtitle {
    font-size: 26px;
    color: darkgray;
}

.post_title {
    font-size: 20px;
    color: darkgray;
    font-style: italic;
    margin: 0;  /* zerando a margem padrão do navegador */
    margin-bottom: 15px;    /* acrescenta apenas uma margem abaixo */
}

.page_img {
    border-radius: 50%  ;    /* deixa a foto em formato circular */
    border: 1px dotted white;
}

.post_content {
    margin: 0;  /* zerando a margem padrão do navegador */
    margin-bottom: 15px;    /* acrescenta apenas uma margem abaixo */
    font-size: 12px;
    font-weight: lighter;
    color: navajowhite;
    text-align: center;
}

.post_img {
    margin-bottom: 15px;
    width: 100%;    /* utilizado para que a imagem respeite os limites do elemento 'post' */
    border: 1px dotted white;
    border-radius: 8px;
}

.contact_list {
    font-size: 12px;
    list-style-type: none;
    padding-left: 15px;
}

